/* Estilos de pagina de viajes  
*{
    outline: solid rgb(255, 255, 255);
}
*/
body { /* Selección de body */
    font-family:Arial, sans-serif ; /* Cambia tipografia */
    margin: 0; /* Elimina todo el margen predefinido */
    padding: 0; /* Elimina todo el relleno de los elementos */
    }
    /* Acá viene el estilo de una clase container */
    .container {
        width: 80%; /* Establece el ancho del contenedor en un 80% */
        margin: 0 auto; /* Centra horizontalmente el contenedor */
    }
    /* Estilo de encabezado */
    header {
        background-color: #333; /* Establece el color de fondo */
        color: #fff; /* Establece el color del texto */
        padding: 20px 0; /* Añade relleno superior e inferior */
    }
    
    header h1{
        margin: 0; /* Elimina el margen por defecto del título */
    }
    /* Estilo de elemento de lista */
    nav ul li{
        display:inline; /* Alinea los elementos */
        margin-right: 20px; /* Margen hacia la derecha */
    }
    /* Estilo a elementos de vinculo ancla de navegacion */
    nav ul li a{
        color:#fff; /* Color a elemento Anchor */
        text-decoration: none; /* Quita subrayado de enlaces */
    }
    
    section {
        padding: 40px 0; /* Añade relleno superior e inferior  */
    }
    
    #banner{
        background-image: url('../img/banner.png');/*Establece la imagen de fondo del banner*/
        background-size: cover; /* Ajusta la imagen al área del banner */
        color: #fff; /* Establece color del texto */
        text-align: center; /* Centra el texto del banner*/
        padding: 100px 0; /* Define relleno superior e inferior */
    }
    #banner h2{
        font-size: 36px; /* Establece tamaño de h2 */
    }
    #banner p{
        font-size: 18px; /* Establece tamaño de p */
        margin-bottom: 20px; /* Define margen inferior*/
    }
    
    .btn{
        background-color: #007bff; /* Color fondo boton */
        color: #fff; /* Color del texto del boton */
        padding: 10px 20px; /* Relleno del boton */
        text-decoration: none; /* Quita decoración de enlace*/
    }
    /* Estilo cuando pasa puntero sobre el boton */
    .btn:hover {
        background-color: #0056b3; /* Establece color de fondo en hover boton */
    }
    
  /* Aqui va el estilo del Formulario de paquetes */
    
        #contacto{
            padding:60px 0;
        }
        
        #contacto .container{
            text-align: center;
        }
        
        #contacto h2{
            margin-bottom: 20px;
        }
        #contacto form{
            max-width: 500px; /* Establece el ancho máximo del elemento formulario */
            margin: 0 auto; /* Centra horizontalmente dentro del contenedor */
            padding:20px;
            background-color: rgb(183, 194, 192);
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 1); /* Establece una sombra alrededor del formulario */
        }
        #contacto label{
            display: block; /* Etiquetas en bloques */
            margin-bottom: 10px;
            font-weight: bold; /* Establece fuente en negrita */
        }
        #contacto input, #contacto textarea{
        width: 100%;
        padding:10px;
        margin-bottom: 20px;
        border: 1px solid #fff;
        border-radius: 5px;
        box-sizing: border-box; /* Incluye el padding y el borde del ancho dentro del elemento que lo contiene */
        }
        
        #paquetes textarea{
            resize: vertical; /* Permite redimensionar el area del texto verticalmente*/
        }
        
        #paquetes{
            padding:40px 0;
        }
        
        #contacto .container{
            text-align: center;
        }
        
        #contacto h2{
            margin-bottom: 20px;
        }
        #contacto form{
            max-width: 500px; /* Establece el ancho máximo del elemento formulario */
            margin: 0 auto; /* Centra horizontalmente dentro del contenedor */
            padding:20px;
            background-color: rgb(183, 194, 192);
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 1); /* Establece una sombra alrededor del formulario */
        }
        #contacto label{
            display: block; /* Etiquetas en bloques */
            margin-bottom: 10px;
            font-weight: bold; /* Establece fuente en negrita */
        }
        #contacto input, #contacto textarea{
        width: 100%;
        padding:10px;
        margin-bottom: 20px;
        border: 1px solid #fff;
        border-radius: 5px;
        box-sizing: border-box; /* Incluye el padding y el borde del ancho dentro del elemento que lo contiene */
        }
        
        #contacto textarea{
            resize: vertical; /* Permite redimensionar el area del texto verticalmente*/
        }


    .destinos-container{
        display: flex; /* Utiliza flexbox para alinear elementos */
        justify-content: space-between; /* Distribuye uniformemenente los elementos */
        flex-wrap: wrap; /* Si los elementos no caben en la misma línea, agrega una nueva linea con estos elementos extras */
    }
    .destino{
        width: calc(33.33% - 20px); /* Establece el ancho de cada destino menos el espacio entre los destinos */
        margin-bottom: 20px; /* Define el margen inferior*/
        text-align: center; /* Centra el texto */
    }
    
    .destino img{
        width: 100%; /* Establece el ancho de la imagen ajustandola al elemento que la contiene */
        border-radius: 8px; /* Agrega esquinas redondeadas */
    }
    .destino h3{
        margin-top:10px; /* Agrega distancia entre imagen y h3 */
    }
    .destino p{
        margin-top:10px; /* Agrega distancia superior entre h3 y p */
    }
    
    footer{
        background-color: #2b2a2a; /* Establece color fondo de footer */
        color: #fff; /* Establece color de texto de footer */
        text-align: center; /* Centra el texto */
        padding: 20px 0; /* Añade relleno superior e inferior */
    }
    
    /* Aqui va el estilo del Formulario de paquetes */
    
    #paquetes{
        padding:60px 0;
    }
    
    #paquetes .container{
        text-align: center;
    }
    
    #paquetes h2{
        margin-bottom: 20px;
    }
    #paquetes form{
        max-width: 500px; /* Establece el ancho máximo del elemento formulario */
        margin: 1 auto; /* Centra horizontalmente dentro del contenedor */
        padding: 30px;
        background-color: rgb(231, 231, 231);
        border-radius: 8px;
        box-shadow: 0 0 10px rgb(216, 203, 203); /* Establece una sombra alrededor del formulario */
    }
    #paquetes label{
        display: block; /* Etiquetas en bloques */
        margin-bottom: 10px;
        font-weight: bold; /* Establece fuente en negrita */
    }
    #paquetes input, #paquetes textarea{
    width: 100%;
    padding:10px;
    margin-bottom: 20px;
    border: 1px solid #813e3e;
    border-radius: 5px;
    box-sizing: border-box; /* Incluye el padding y el borde del ancho dentro del elemento que lo contiene */
    }
    
    #paquetes textarea{
        resize: vertical; /* Permite redimensionar el area del texto verticalmente*/
    }
    
    #paquetes{
        padding:40px 0;
    }
    
    #paquetes .container{
        text-align: center;
    }
    
    #paquetes h2{
        margin-bottom: 20px;
    }
    #paquetes form{
        max-width: 500px; /* Establece el ancho máximo del elemento formulario */
        margin: 0 auto; /* Centra horizontalmente dentro del contenedor */
        padding:20px;
        background-color: rgb(140, 146, 145);
        border-radius: 8px;
        box-shadow: 0 0 10px rgb(22, 19, 19); /* Establece una sombra alrededor del formulario */
    }
    #paquetes label{
        display: block; /* Etiquetas en bloques */
        margin-bottom: 10px;
        font-weight: bold; /* Establece fuente en negrita */
    }
    #paquetes input, #paquetes textarea{
    width: 100%;
    padding:10px;
    margin-bottom: 20px;
    border: 1px solid #0c0606;
    border-radius: 5px; 
    }
    
    #paquetes textarea{
        resize: vertical; 
    }
    #paquetes{
        box-sizing: border-box;
    }
    .paquetes-container{
        box-sizing:border-box;
    }